PINECONE_API_KEY=pcsk_5DrW9k_TUGaPA9NdjkseTgWpTzhkyeHeAfyubh8nG3pR8QJsWYEZFS47LgGwk7WxWV3Som 
PINECONE_INDEX=sample
PINECONE_DIMENSION=1024
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1 
NVIDIA_API_KEY=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